/main.py
/out.json
/ReLearn-AllObjectsClasses.numbers
/ReLearn-AllObjectsClasses.xlsx
/test.csv
/test.json
/test2.csv
/test2.json
/train.csv
/train.json
/train2.csv
/train2.json
/unseen_phrases.csv
/validation.csv
/validation.json
/validation2.csv
/validation2.json
/waste-dataset.json
